@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Cantarell&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ababab;
}

header{
    display: flex;
    justify-content: space-around;
    margin: 30px 0 0 0;
    font-size: 1.6em;
    font-family: 'Barlow';
    color: #383535;
}

header img{
    width: 45vw;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.titulo{
    font-family: 'Cantarell', serif;
    text-transform: uppercase;
    color: #d13232;
    text-align: center;
}

.sub-titulo{
    background-color: #dcdcdc;
    color: #383535;
    min-height: 8vh;
    text-align: center;
    border-radius: 5px;
    line-height: 50px;
}

.texto-preparo{
    font-family: 'Barlow', serif;
    font-size: 1em;
    line-height:  2.6em;
}

.texto-ingredientes{
    font-family: 'Barlow', serif;
    font-size: 1.3em;
    line-height:  2.6em;
}

#ingredientes{
    width: 50%;
    margin: 50px;
}

#preparo{
    width: 50%;
    margin: 50px 70px 0 70px;
}

ol{
    list-style-type: none;
}

.number{
    font-size: 2em;
    font-family: 'Barlow', serif;
    margin-right: 1em;
    color: #383535;
}

.xicara{
    text-decoration: line-through;
}

h2 img{
    width: 3vw;
}

aside img{
    width: 10vw;
    height: 15vh;
    border: 2px solid #383535;
    border-radius: 7px;
    margin: 5px;
}
/*-- FOOTER --*/

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 1.3em;
    font-family: 'Barlow';
}
